body {
    height: 100%;
    width: 100%;
}

.img{
    height:200px;
    margin-top: 50px;
}

#left
{
    float:left;
    margin-left:100px;
    padding-left:20px;
    
}

#right
{
    float:right;
    margin-right:100px;
    padding:10px;
}

#left1
{
    float:center;
    padding-left:10px;
    text-align:justify;
    margin-left: 50px;
    margin-right: 50px;

}

#right1
{
    float:right;
    margin-right:20px;
    width: 50%;
    padding:10px;
}


.background{
    background-color: rgb(255, 255, 255);
    margin-top: -20px;
    padding-top: 0;
}


h3{
    text-align: center;
    padding-top: 20px;

}

h5{
    text-align: center;
}

.style3
{
    float:center;
    text-align:justify;
    margin-left: 60px;
    font-size:35px;
    margin-right:10px;
    font-family:cursive;
    color:264653;
    font-weight:1000;
    
}
.name{
    text-align: center;
    font-family:monospace;
    padding-top:10px;
   
}

.name.hyperlink {
    text-decoration: none;
    color:black;

}

.hyperlink:hover{
    color:rgba(31, 4, 104, 0.815);
}
.style1{
    width:10%;
    margin-top:10px;
}

.name1{
    text-align:justify;
    font-size: 14px;
    line-height:18px;
}

.style4{
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size:cover;
    background-size: cover;
    height:30vh;
 }
 
 .banner-text{
     position: absolute;
     top:80%;
     left:47%;
     transform:translate(-50%,-50%);
     text-align:center;
     bottom: 0;
     background: transparent;
     border: none;
  
 }
 
 .banner-text h4{
     font-size: 45px;
     font-family: merienda;
     margin: 0;
 }

 