.container {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	margin-top: 50px;
	font-size: 36px;
}

form {
	margin-top: 50px;
}

input[type="file"] {
	display: block;
	margin: 0 auto;
}

button[type="submit"] {
	margin-top: 10px;
	font-size: 20px;
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.result {
	margin-top: 50px;
	font-size: 24px;
}

.result p {
	margin-bottom: 10px;
}

.result span {
	font-weight: bold;
}
