* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

.registration-box {
	width: 400px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #888888;
	margin: 50px auto;
	padding: 20px;
}

.registration-box h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #0088cc;
}

.user-box {
	position: relative;
	margin-bottom: 25px;
}

.user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	border: none;
	border-bottom: 2px solid #ccc;
	outline: none;
	background-color: transparent;
}

.user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #666;
	pointer-events: none;
	transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
	top: -20px;
	font-size: 12px;
	color: #0088cc;
}

input[type="submit"] {
	background-color: #0088cc;
	color: #fff;
	border: none;
	border-radius: 25px;
	padding: 10px 20px;
	Font-size: 18px;
	cursor: pointer;
	transition: 0.5s;
}

input[type="reset"] {
	background-color: #0088cc;
	color: #fff;
	border: none;
	border-radius: 25px;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	transition: 0.5s;
}

input[type="submit"]:hover {
	background-color: #005580;
}

.error {
	color: #ff0000;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.p{
	font-size: 12px;
	font-family: Arial, sans-serif;
}
